<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="customers" type="HelpdeskKPI.CustomerSectionHandler,HelpdeskKPI"/>
    <section name="dashboard" type="AGaugeApp.DashboardSectionHandler,AGaugeApp" />
  </configSections>
  <connectionStrings>
    <add name="Live"
      connectionString="Password=T09monitor;Persist Security Info=True;User ID=topdeskmonitor;Initial Catalog=TOPDESK;Data Source=srv-k2-db"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="LogoLocation" value="\\srv-vinson\users\jbloemscheer\My Documents\My Pictures\Logo's"/>
  </appSettings>
  <customers>
    <customer id="5H000g" name="Alken-Maes Brouwerijen Brasseries" image="Alken-Maes.jpg" />
    <customer id="NC0001" name="Ascom (Nederland) B.V." image="Ascom.jpg" />
    <customer id="5H001U" name="Assa Abloy Entrance Systems AB" image="Assa Abloy.jpg" />
    <customer id="5H000W" name="Autobar Holland B.V." image="Autobar.jpg" />
    <customer id="5H0013" name="Baas B.V." image="baas.jpg" />
    <customer id="5H001N" name="Baas B.V. Regio Oost" image="baas.jpg" />
    <customer id="5H001A" name="Betoncentrale Twenthe BV" image="betoncentrale twente.jpg" />
    <customer id="Bx0001" name="Brabant Water" image="brabant water.jpg" />
    <customer id="5H000A" name="Brabant Water" image="brabant water.jpg" />
    <customer id="5O0001" name="Car Technics" image="Cartechnics.jpg" />
    <customer id="5c0003" name="Consolidated Groep B.V." image="Consolidated.jpg" />
    <customer id="5H000X" name="Dental Union" image="Dental.jpg" />
    <customer id="lo0001" name="DHL Freight" image="DHL.jpg" />
    <customer id="5H001b" name="DHL RV" image="DHL.jpg" />
    <customer id="5H001Y" name="DHL SameDay Nederland" image="DHL.jpg" />
    <customer id="5H000Q" name="Douwe Egberts Coffee Systems" image="DE.jpg" />
    <customer id="PW0001" name="Dunea" image="dunea.jpg" />
    <customer id="5H000B" name="Eneco Infra Services B.V." image="Eneco.jpg" />
    <customer id="5H001i" name="Enexis Netwerk B.V." image="Enexis.jpg" />
    <customer id="5H000H" name="Enexis Netwerk B.V." image="Enexis.jpg" />
    <customer id="Cm0001" name="Essent" image="essent.jpg" />
    <customer id="5H000U" name="Fri-Jado Super Service B.V." image="Frijado.jpg" />
    <customer id="5H000Y" name="Gamko Horecatechniek B.V." image="gamko.jpg" />
    <customer id="5H001Q" name="Gemeente Delft" image="Delft.jpg" />
    <customer id="Lh0002" name="Geveke Werktuigbouw B.V." image="Geveke.jpg" />
    <customer id="Ke0001" name="Groningen Seaports" image="Groningen Seaports.jpg" />
    <customer id="5H000v" name="Hajnadi Verwarming B.V." image="Hajnadi.jpg" />
    <customer id="5H000S" name="Heineken Nederland B.V." image="Heineken.jpg" />
    <customer id="Ej0001" name="Heras Nederland B.V." image="heras.jpg" />
    <customer id="5H0012" name="Hirschmann Electronics B.V." image="Hirschmann.jpg" />
    <customer id="bD0003" name="Holcim Betonmortel B.V. Centrale Hoorn 350" image="Holcim.jpg" />
    <customer id="5c0002" name="Holcim Nederland B.V." image="Holcim.jpg" />
    <customer id="5H000l" name="Imtech Maintenance B.V." image="imtech.jpg" />
    <customer id="5H001S" name="Imtech Projects B.V." image="imtech.jpg" />
    <customer id="4w0001" name="Interbeton" image="Interbeton.jpg" />
    <customer id="5H001D" name="Itho B.V." image="Itho.jpg" />
    <customer id="7y0001" name="Jaski Automaten B.V." image="jaski.jpg" />
    <customer id="5H001P" name="JVH Exploitatie B.V. Industrieterrein Kraaiven Nr. 3910" image="jvh.jpg" />
    <customer id="5H0007" name="KPN Business Mobile Solutions Gebouw TP9" image="KPN.jpg" />
    <customer id="Cm0002" name="KPN Support ZM IMS OP CS SCU Data IP" image="KPN.jpg" />
    <customer id="5H000L" name="Lease Plan Nederland N.V." image="leaseplan.jpg" />
    <customer id="5H000R" name="Maas International" image="maas.jpg" />
    <customer id="3g0001" name="Mebin" image="Mebin.jpg" />
    <customer id="CN0001" name="Mettenmeier" image="Mettenmeier.jpg" />
    <customer id="5H001c" name="Motrac Handling &amp; Cleaning NV-SA België" image="Motraclinde.jpg" />
    <customer id="5H000V" name="MotracLinde B.V." image="Motraclinde.jpg" />
    <customer id="TB0001" name="Nedtrain Kantorencentrum Laag Katreine" image="nedtrain.jpg" />
    <customer id="6F0001" name="NedTrain Services Kantorencentrum &quot;Katreine&quot;" image="nedtrain.jpg" />
    <customer id="5H000P" name="Nefit B.V." image="nefit.jpg" />
    <customer id="5H001f" name="Nuon Corporate Purchasing" image="nuon.jpg" />
    <customer id="5H000C" name="NUON ICT IT Staete" image="nuon.jpg" />
    <customer id="5H001C" name="Otto Ooms B.V." image="Otto Ooms.jpg" />
    <customer id="5H001K" name="Pirtek (Benelux) B.V." image="Pirtek.jpg" />
    <customer id="bD0004" name="Planon" image="Planon.jpg" />
    <customer id="5H000k" name="Postkantoren B.V. Utrecht" image="TNTpost.jpg" />
    <customer id="5H000d" name="Provincie Noord-Holland Locatie Houtplein" image="nh.jpg" />
    <customer id="PW0002" name="Robert Bosch B.V. Division Security Projects" image="RBosch.jpg" />
    <customer id="5H0019" name="RouteConnect B.V." image="Routeconnect.jpg" />
    <customer id="5H000T" name="Saval B.V." image="Saval.jpg" />
    <customer id="5c0001" name="Schiphol Express" image="schiphol.jpg" />
    <customer id="5H000m" name="Seris Security  NV" image="Seris security.jpg" />
    <customer id="5H000c" name="Sportlink Services B.V." image="sportlink.jpg" />
    <customer id="5H000O" name="Strukton Rail Infra" image="Strukton.jpg" />
    <customer id="690002" name="Strukton Worksphere B.V." image="worksphere.jpg" />
    <customer id="690001" name="Tensing B.V." image="tensing.jpg" />
    <customer id="5H000f" name="TNT Post Afd. Consumentenmarkt, Distributie &amp; IC" image="TNTpost.jpg" />
    <customer id="b00001" name="TNT Post Pakketservice" image="TNTpost.jpg" />
    <customer id="5H001g" name="Van den Anker" image="VandenAnker.jpg" />
    <customer id="uC0001" name="Vanderlande Industries Nederland B.V." image="vanderlande.jpg" />
    <customer id="5H000E" name="Vitens N.V." image="vitens.jpg" />
    <customer id="5H000J" name="Vitens N.V." image="vitens.jpg" />
    <customer id="AO0001" name="Volker Wessels ICT" image="VolkerWessels.jpg" />
    <customer id="5H000Z" name="Volta Limburg" image="Volta-Limburg.jpg" />
    <customer id="et0001" name="Waterschap Rijn en IJssel" image="Waterschaprij.jpg" />
    <customer id="Gh0001" name="Ymere" image="Ymere.jpg" />
    <customer id="5H0016" name="Zenitel Caribbean B.V." image="Zenitel.jpg" />
    <customer id="5H001V" name="Koning &amp; Hartman B.V." image="KH.jpg" />
    <customer id="5c0005" name="Van Nieuwpoort Betonmortel B.V." image="van Nieuwpoort.JPG" />
    <customer id="uD0001" name="VIB Groningen BV CAI en TELECOM Netwerken" image="VIB Groningen.jpg" />
    <customer id="nt0001" name="Tablin" image="Tablin.jpg" />
    <customer id="ps0001" name="Luchtverkeersleiding Nederland" image="Luchtverkeers leiding.jpg" />
    <customer id="hX0001" name="Cofely Nederland N.V." image="Cofely.jpg" />
    <customer id="p10001" name="Gemeente 's-Hertogenbosch (NB)" image="Den Bosch.jpg" />
    <customer id="hX0004" name="Provincie Overijssel" image="provincie Overijsel.jpg" />
  </customers>
    <!-- <customer id="5H001F" name="Bam Infra Hulsink Kommunikatie Techniek" image="Bam Infra Hulsink Kommunikatie Techniek.jpg" />
    <customer id="5H001j" name="BAM Infratechniek B.V." image="BAM Infratechniek.jpg" />
    <customer id="5H000i" name="Belvilla Vakantiewoningen" image="Belvilla Vakantiewoningen.jpg" />
    <customer id="bM0002" name="Bercomex" image="Bercomex.jpg" />
    <customer id="s10001" name="BK-GAS B.V." image="BK-GAS.jpg" />
    <customer id="Yr0001" name="BLGG Oosterbeek" image="BLGG Oosterbeek.jpg" />
    <customer id="5H000b" name="Breman (Gas Service Nederland)" image="Breman.jpg" />
    <customer id="Lh0001" name="Café Bar Holland B.V. Hoofdkantoor" image="Cafebar.jpg" />
    <customer id="5c0004" name="Cementbouw B.V." image="Cementbouw.jpg" />
    <customer id="5H001H" name="Dalkia" image="Dalkia.jpg" />
    <customer id="5H000F" name="DataBalk B.V." image="Databalk.jpg" />
    <customer id="9O0001" name="Douane Zuid (Heerlen)" image="Douane Zuid.jpg" />
    <customer id="5H0009" name="Gemeente Breda, Dienst RME Landmeten en Geo-Informatie" image="Gemeente Breda.jpg" />
    <customer id="hX0002" name="Gemeente Bussum (NH)" image="Gemeente Bussum.jpg" />
    <customer id="uW0001" name="Gemeente Heerlen (L)" image="Gemeente Heerlen.jpg" />
    <customer id="hX0005" name="Gemeente Midden-Delfland" image="Gemeente Midden-Delfland.jpg" />
    <customer id="hX0003" name="Gemeente Naarden (NH)" image="Gemeente Naarden.jpg" />
    <customer id="ly0001" name="Gemeente Oud-Beijerland (ZH)" image="Gemeente Oud-Beijerland.jpg" />
    <customer id="5H001k" name="Gemeente Stadskanaal (GR)" image="Gemeente Stadskanaal.jpg" />
    <customer id="cZ0001" name="Gemeente Westerveld (D)" image="Gemeente Westerveld.jpg" />
    <customer id="bD0002" name="Holcim Betonmortel B.V. Centrale KRIMPEN a/d IJSSEL" image="Holcim.jpg" />
    <customer id="bD0001" name="Holcim Betonmortel B.V. Oudenbosch Centrale" image="Holcim.jpg" />
    <customer id="5H000y" name="Holland Casino Customer Products & Service" image="Holland Casino.jpg" />
    <customer id="5H000e" name="Intergamma B.V." image="Intergamma.jpg" />
    <customer id="lg0002" name="JVH Gaming B.V." image="jvh.jpg" />
    <customer id="5H0004" name="Kadaster Geo Informatie" image="Kadaster.jpg" />
    <customer id="5H0001" name="Kadaster Geo Informatie (Locatie Emmen)" image="Kadaster.jpg" />
    <customer id="5H000x" name="Klein Poelhuis Beheer B.V." image="KleinPoelhuis.jpg" />
    <customer id="71000C" name="Mebin Zuid-Limburg Brunssum Centrale" image="Mebin.jpg" />
    <customer id="5H000q" name="Provincie Limburg" image="Provincie Limburg.jpg" />
    <customer id="5H0014" name="Provincie Utrecht" image="Provincie Utrecht.jpg" />
    <customer id="c30001" name="PWN  Waterleidingbedrijf Noord-Holland Vestiging Velserbroek" image="PWN.jpg" />
    <customer id="5H0018" name="RAV Limburg Noord" image="RAV Limburg Noord.jpg" />
    <customer id="eW0001" name="Regionale Brandweer Zuidoost-Brabant" image="Regionale Brandweer Zuidoost-Brabant.jpg" />
    <customer id="5H0002" name="Regiopolitie Brabant Zuid-Oost RCC" image="Regiopolitie Brabant Zuid-Oost.jpg" />
    <customer id="j20001" name="Rendo NV" image="rendo.jpg" />
    <customer id="Dv0001" name="Reym B.V." image="Reym.jpg" />
    <customer id="5H001L" name="Rijksdienst voor het Cultureel Erfgoed" image="Rijksdienst voor het Cultureel Erfgoed.jpg" />
    <customer id="5H0015" name="Romijnders B.V." image="Romijnders.jpg" />
    <customer id="5H000w" name="Romijnders Service B.V." image="Romijnders.jpg" />
    <customer id="bM0001" name="Seur" image="Seur.jpg" />
    <customer id="5H001J" name="Smeba Brandbeveiliging B.V." image="Smeba.jpg" />
    <customer id="5H000G" name="Stichting Batterijen" image="Stichting Batterijen.jpg" />
    <customer id="5H001d" name="Stichting DUWO" image="Stichting DUWO.jpg" />
    <customer id="BI0001" name="TNO Built Environment and Geosciences" image="TNO.jpg" />
    <customer id="nJ0001" name="Van der Sluis Holding B.V." image="Van der Sluis.jpg" />
    <customer id="5H0008" name="Waterschap Peel en Maasvallei" image="Waterschap Peel en Maasvallei.jpg" />
    <customer id="Oo0001" name="Wegener Media B.V." image="Wegener Media.jpg" />
    <customer id="G10001" name="Ymere Wonen - Vestiging Noord" image="Ymere.jpg" /> -->
  <dashboard>
    <Gauge1 Radius="60" 
            BaseArcStart="0"
            BaseArcSweep="-90"
            Center="15,80"
            NeedleRadius="50"/>
    <Gauge2 Radius="60"
            BaseArcStart="180"
            BaseArcSweep="90"
            Center="80,80"
            NeedleRadius="50"/>
    <Gauge3 Radius="60"
            BaseArcStart="0"
            BaseArcSweep="-90"
            Center="15,80"
            NeedleRadius="50"/>
    <Gauge4 Radius="60"
            BaseArcStart="180"
            BaseArcSweep="90"
            Center="80,80"/>
  </dashboard>
</configuration>